
CodeDrawMcGraw/.vs/CodeDrawMcGraw/v16/.suo
CodeDrawMcGraw/.vs/CodeDrawMcGraw/v16/Server/sqlite3/db.lock
CodeDrawMcGraw/.vs/CodeDrawMcGraw/v16/Server/sqlite3/storage.ide
CodeDrawMcGraw/Assests/Backgrounds/MainMenu.gif
CodeDrawMcGraw/Assests/Enemies/Bandana_Bandit_Static.gif
CodeDrawMcGraw/Assests/Enemies/Bandana_Bandit_Static_Loss.gif
CodeDrawMcGraw/Assests/Enemies/Bandana_Bandit_Static_Win.gif
CodeDrawMcGraw/Assests/Enemies/Big_Hex_Draw_Static.gif
CodeDrawMcGraw/Assests/Enemies/Big_Hex_Draw_Static_Loss.gif
CodeDrawMcGraw/Assests/Enemies/Big_Hex_Draw_Static_Win.gif
CodeDrawMcGraw/Assests/Enemies/Big_Hex_Head_Loud.gif
CodeDrawMcGraw/Assests/Enemies/Big_Hex_Head_Quiet.gif
CodeDrawMcGraw/Assests/Enemies/Billy_The_Code_Loud.gif
CodeDrawMcGraw/Assests/Enemies/Billy_The_Code_Quiet.gif
CodeDrawMcGraw/Assests/Enemies/Billy_The_Code_Static.gif
CodeDrawMcGraw/Assests/Enemies/Billy_The_Code_Static_Loss.gif
CodeDrawMcGraw/Assests/Enemies/Billy_The_Code_Static_Win.gif
CodeDrawMcGraw/Assests/Enemies/Enemy.gif
CodeDrawMcGraw/Assests/NPC/Dr.Bonnie_Loud.gif
CodeDrawMcGraw/Assests/NPC/Dr.Bonnie_Quiet.gif
CodeDrawMcGraw/Assests/Player/Horse Trot.gif
CodeDrawMcGraw/CodeDrawMcGraw/.Designer.vb
CodeDrawMcGraw/Assets/Backgrounds/Background Dusk.gif
CodeDrawMcGraw/Assets/Backgrounds/Background clone clone.gif
CodeDrawMcGraw/Assets/Entity/Cactus.gif
